.container-game{
    display: flex;
    flex-direction: row;
    padding: 4rem;
    gap: 10rem;
}

.button-style {
    width: 8rem;
    height:8rem;
    font-size: 4rem;
    font-weight:900;
    text-shadow: 2px 2px 4px rgba(123, 123, 123, 0.7);
    border-radius: 50%;
    background-color: rgb(76, 76, 76);
    border-color: rgb(201, 201, 201);
    box-shadow: 10px 0 30px rgba(216, 216, 216, 0.2);
    transition: transform 0.3s ease-in-out;
}

.button-static{
    width: 8rem;
    height:8rem;
    font-size: 4rem;
    font-weight:900;
    text-shadow: 2px 2px 4px rgba(123, 123, 123, 0.7);
    border-radius: 50%;
    background-color: rgb(76, 76, 76);
    border-color: rgb(201, 201, 201);
    box-shadow: 10px 0 30px rgba(216, 216, 216, 0.2);
    pointer-events: none;
}

.button-style:hover{
    cursor: pointer;
    transform: scale(0.9);
}

.score-text{
    font-size: 1.3rem;
    font-weight: 400;
}

.game-container-winner {
    text-align: center;
    margin-bottom: 2rem;
}

.game-container-winner h3 {
    font-size: 2.2rem;
    color: #858585;
    margin-bottom: 20px;
}

.winner-buttons {
    display: flex;
    justify-content: center;
}

.winner-button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.winner-button:hover {
    background-color: #0056b3;
}

.inicio-button {
    background-color: #4f4f4f;
    color: rgb(180, 180, 180);
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.inicio-button:hover {
    background-color: #d32f2f;
}