.container-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.container-home p {
  margin-bottom: 2rem;
}

.container-title {
  font-weight: bold;
  font-size: 4rem;
  opacity: 0.7;
  padding-bottom: 1rem;
  font-family: monospace;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding: 0 1rem; 
}

.container-mode-title {
  font-size: 2.2rem;
  color: rgb(120, 120, 120);
  margin: 0;
}

.container-buttons {
  display: flex;
  gap: 4rem;
  padding: 1rem 0;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap; /* Añadimos flex-wrap para que los botones se envuelvan en pantallas estrechas */
}

.container-buttons p {
  color: grey;
}

.container-img {
  height: 15vw;
  width: 15vw;
  transition: transform 0.3s ease-in-out;
  object-fit: cover; /* Aseguramos que las imágenes se ajusten correctamente en sus contenedores */
  padding: 0;
}

.container-img:hover {
  cursor: pointer;
  transform: scale(0.8);
}

.container-player {
  font-size: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.go-rules{
  display: inline-block;
  color: grey;
  font-size: 1.0rem;
  font-weight: 700;
  text-decoration: none;
  border-radius: 4px;
}

.go-rules:hover {
  cursor: pointer;
  font-weight: 700;
  text-decoration: underline;
}

.title-1 {
  color: #20abff;
}

.title-2 {
  color: #fb6e00;
}

.text-link {
  color: #20abff;
  text-decoration: underline;
}

/* Media queries para diferentes resoluciones */

/* Estilos para pantallas de hasta 480px de ancho (dispositivos móviles en orientación vertical) */
@media only screen and (max-width: 399px){
  .container-title {
    font-size: 2rem;
  }

  .container-mode-title {
    font-size: 1rem;
  }

  .container-home{
    padding: 1rem;
  }

  .container-buttons {
    flex-direction: column;
    gap: 0;
  }

  .container-img {
    height: 15vw;
    width: 15vw;
  }

  .go-rules{
    display: inline-block;
    color: grey;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    margin-top: 0;
  }
}

@media only screen and (min-width: 400px) and (max-width: 481px) {
  .container-title {
    font-size: 3rem;
  }

  .container-mode-title {
    font-size: 1.8rem;
  }

  .container-home{
    padding: 1rem;
  }

  .container-buttons {
    flex-direction: column;
    gap: 2rem;
  }

  .container-img {
    height: 25vw;
    width: 25vw;
    padding: 0;
  }

  .text-link {
    font-size: 1rem;
    padding-bottom: 5rem;
  }
}

/* Estilos para pantallas de 481px a 768px de ancho (dispositivos móviles en orientación horizontal y tabletas) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .container-title {
    font-size: 3.5rem;
  }

  .container-mode-title {
    font-size: 2rem;
  }

  .container-home{
    padding: 1rem;
  }

  .container-buttons {
    gap: 5rem;
  }

  .container-img {
    height: 35vw;
    width: 35vw;
    padding: 0;
  }
}

/* Estilos para pantallas de 769px a 1024px de ancho (tabletas y pantallas de escritorio pequeñas) */
@media only screen and (min-width: 769px) and (max-width: 1023px) {
  .container-title {
    font-size: 4.5rem;
  }

  .container-mode-title {
    font-size: 2.5rem;
  }

  .container-home{
    padding: 1rem;
  }

  .container-buttons {
    gap: 6rem;
  }

  .container-img {
    height: 35vw;
    width: 35vw;
    padding: 0;
  }
 
}

/* Estilos para pantallas de 1025px a 1440px de ancho (pantallas de escritorio medianas) */
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .container-title {
    font-size: 4rem;
    padding: 0rem;
  }

  .container-mode-title {
    font-size: 2rem;
  }

  .container-buttons {
    gap: 3rem;
    padding: 0;
  }

  .container-img {
    height: 35vw;
    width: 35vw;
    padding: 0;
  }

  .go-rules{
    display: inline-block;
    color: grey;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    margin-top: 0;
  }

}

/* Estilos para pantallas de más de 1440px de ancho (pantallas de escritorio grandes) */
@media only screen and (min-width: 1441px) {
  .container-title {
    font-size: 6rem;
    padding: 0;
  }

  .container-mode-title {
    font-size: 3rem;
  }

  .container-img {
    height: 15vw;
    width: 15vw;
    padding: 0;
  }
}
