:root {
    --azul: #3b82f6;
    --blanco: #ffffff;
    --gris-claro: #f5f5f5;
    --gris: #94a3b8;
    --gris-oscuro: #64748b;
    --negro: #000;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: black;
    color:white;
    overflow: hidden;
}

.container-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-width: 50rem;
}

.container-home p{
    margin-bottom: 4rem;
}

.container-title{ 
   font-size: 4.5rem;
   margin-bottom: 2rem;
}

.container-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
}

.container-buttons p {
    color: grey;
}

.container-img{
    height: 20rem;
    width:  20rem;
}

.container-player{
    cursor: pointer;
}