.container-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  height: 100vh;
}

.video-wrapper {
  width: 100%;
  max-width: 1200px; 
  height: 75vh; 
  overflow: hidden;
}

.text-link {
  display: inline-block;
  color: grey;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  margin-top: 2rem;
}

.text-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Media queries para diferentes resoluciones */

/* Estilos para pantallas de hasta 600px de ancho */
@media only screen and (max-width: 600px) {
  .video-wrapper {
    width: 100%; /* El video ocupará el ancho completo en dispositivos móviles */
    padding-bottom: 2rem;
    height: 50%; /* Ajusta la altura automáticamente para adaptarse al video */
  }
}

/* Estilos para pantallas de 601px a 900px de ancho */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .video-wrapper {
    width: 80%;
    padding-bottom: 2rem;
    height: 60vh; /* Ajusta la altura relativa en dispositivos móviles */
  }
}

/* Estilos para pantallas de 901px a 1200px de ancho */
@media only screen and (min-width: 901px) and (max-width: 1200px) {
  .video-wrapper {
    width: 95%;
    height: 75vh; /* Ajusta la altura relativa en dispositivos móviles */
  }
}

/* Estilos para pantallas de más de 1200px de ancho */
@media only screen and (min-width: 1201px) {
  .video-wrapper {
    width: 100%;
    height: 75vh; /* Ajusta la altura relativa en dispositivos móviles */
  }
}
