:root {
  --azul: #3b82f6;
  --blanco: #ffffff;
  --gris-claro: #f5f5f5;
  --gris: #94a3b8;
  --gris-oscuro: #64748b;
  --negro: #000;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-image: url("../src/img/fondo-4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  overflow: hidden;
}


